<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hand mailer</title>
    <link rel="stylesheet" href="/assets/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/png">
    <div class="components">

        <div class="component emailConfig">
            <div class="form-group">
                <label>Mailbox config</label>
                <form @submit.prevent="save">
                    <input type="text" placeholder="Sender" class="form-control w-25 mb-1" v-model="data.sender">
                    <input type="text" placeholder="SMTP host" class="form-control w-25 mb-1" v-model="data.host">
                    <input type="text" placeholder="SMTP port" class="form-control w-25 mb-1" v-model="data.port">
                    <input type="text" placeholder="Username" class="form-control w-25 mb-1" v-model="data.username">
                    <input type="password" placeholder="Password" class="form-control w-25 mb-1" v-model="data.password">
                    <textarea placeholder="Your sign" class="form-control w-25 mb-1" v-model="data.sign" rows="3"></textarea>
                    <button type="submit" class="btn btn-success" class="form-control w-25 mb-1">Save</button>
                </form>
            </div>
        </div>
        
        <div class="component userlists">

            <div class="overlay" v-if="isEdit">
                <div class="bg">
                    <button class="btn btn-success" @click="save">Save</button>
                    <button class="btn btn-danger" @click="rm">Delete</button>
                    <button class="btn btn-info" @click="close">Close</button>
                    <div class="form-group"> 
                        <label>/% editName %/</label>
                        <textarea class="form-control" rows="10" v-model="editText"></textarea>
                    </div>
                </div>
            </div>
            
            <form @submit.prevent="submit">
                <div class="form-group">
                  <label>Choose type:</label>
                  <select class="form-control" v-model="input" v-model="data.option">
                    <option value="1">Import file</option>
                    <option value="2">Add manualy</option>
                  </select>
                </div>
                <div class="form-group" v-if="input == 2">
                    <label>Type name</label>
                    <input type="text" class="form-control" v-model="data.name">
                </div>
                <div class="form-group" v-if="input == 1">
                    <label>Choose file</label>
                    <input type="file" class="form-control-file" ref="file">
                </div>
                <div class="form-group" v-else> 
                    <label>Type users emails, 1 line = 1 email</label>
                    <textarea class="form-control" rows="10" v-model="data.text"></textarea>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>

            <p class="h3 text-center">
                Lists (click to change):
            </p>
            <ul v-if="render">
                <li v-for="(li, name) in getData" :key="name" @click="edit(name)">/% name %/ (/% li.length %/)</li>
            </ul>
        </div>

        <div class="component createMailing">
            <div v-if="stage == 1">
                <form @submit.prevent="send">
                    <div class="form-group">
                        <label>Choose users list:</label>
                        <select class="form-control" v-model="ul">
                          <option v-for="(l, name) in storage.ul" :key="name" :value="name">/% name %/</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Use:</label>
                        <select class="form-control" v-model="type">
                          <option value="1">Raw text</option>
                          <option value="2">Template</option>
                        </select>
                    </div>
                    <div class="form-group" v-if="type == 1">
                        <label>Type subject</label>
                        <input type="text" class="form-control" v-model="subject">
                    </div>
                    <div class="form-group" v-if="type == 1">
                        <label>Type e-mail text</label>
                        <textarea class="form-control" rows="10" v-model="text"></textarea>
                    </div>
                    <div class="form-group" v-if="type == 2">
                        <label>Select template:</label>
                        <select class="form-control" v-model="curTpl">
                          <option v-for="(l, name) in storage.templates" :key="name" :value="name">/% name %/</option>
                        </select>
                    </div>
                    <div class="form-group" v-if="type == 2 && getProps.length > 0">
                        <label>Complete props:</label>
                        <input type="text" class="form-control mb-1" v-for="(prop, i) in getProps" :key="i" :placeholder="prop" v-model="props[i]">
                    </div>
                    <button type="submit" class="btn btn-success">Send</button>
                </form>
            </div>
            <div v-else>
                <h5>Sending...</h5>
            </div>
        </div>

        <div class="component template">

            <div class="overlay" v-if="isEdit">
                <div class="bg">
                    <button class="btn btn-success" @click="save">Save</button>
                    <button class="btn btn-danger" @click="rm(editName)">Delete</button>
                    <button class="btn btn-info" @click="close">Close</button>
                    <div class="form-group mt-3">
                        <label class="h3">/% editName %/</label>
                        <input type="text" class="form-control mb-2" v-model="editSubj" placeholder="Type subject">
                        <textarea class="form-control mb-2" v-model="editText" placeholder="Type template" rows="10"></textarea>
                        <input type="text" class="form-control mb-2" placeholder="Type name of prop" v-for="(p, index) in editProps" :key="index" v-model="editProps[index]">
                        <button type="button" class="btn btn-outline-secondary btn-sm" @click="editProps.push('')">Add prop</button>
                    </div>
                </div>
            </div>

            <h3>Templates:</h3>
            <ul class="list-group mb-4">
                <li class="list-group-item" v-for="(t, name) in storage.templates" :key="name" @click="edit(name)" style="cursor: pointer;">/% name %/</li>
            </ul>
            <hr>
            <form class="mt-4" @submit.prevent="addTemplate">

                <h3 class="mb-3">Add template</h3>
                <div class="form-group">
                    <input type="text" class="form-control" v-model="name" placeholder="Type name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" v-model="subject" placeholder="Type subject">
                </div>
                <div class="form-group">
                    <textarea class="form-control" v-model="text" placeholder="Type template" rows="10"></textarea>
                </div>
                <div class="form-group">
                    Add some props (if needed):
                    <input type="text" class="form-control mb-2" placeholder="Type name of prop" v-for="(p, index) in props" :key="index" v-model="props[index]">
                    <button type="button" class="btn btn-outline-secondary btn-sm" @click="props.push('')">Add prop</button>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Add template</button>
                </div>
            </form>
        </div>
    </div>
</head>
<body>
    
    <div class="row" id="app">
        <div class="col-2 menu">
            <ul>
                <li class="h5">
                    <router-link to="config">Mailbox config</router-link>
                </li>
                <li class="h5">
                    <router-link to="mailing">Create mailing</router-link>
                </li>
                <li class="h5">
                    <router-link to="userlists">Manage users lists</router-link>
                </li>
                <li class="h5">
                    <router-link to="templates">Manage templates</router-link>
                </li>
            </ul>
        </div>
        <div class="col-1"></div>
        <div class="col-9 window">
            <router-view></router-view>
        </div>
    </div>

    <script>'use strict';</script>
    <script src="/assets/js/jq.js" defer></script>
    <script src="/assets/js/bootstrap.min.js" defer></script>
    <script src="/assets/js/vue.min.js" defer></script>
    <script src="/assets/js/router.js" defer></script>
    <script src="/assets/js/components.js" defer></script>
    <script src="/assets/js/routes.js" defer></script>
    <script src="/assets/js/script.js" defer></script>
</body>
</html>